In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder()
                        .appName("TestApp2")
                        .config("spark.master", "local")
                        .getOrCreate()

Intitializing Scala interpreter ...

Spark Web UI available at http://74e4be6e0134:4041
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1651458415394)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@1b05e9e

In [2]:
import spark.implicits._

import spark.implicits._

In [4]:
val df = spark.read.option("header", "true").option("inferSchema", "true").csv("Sales.csv")

df: org.apache.spark.sql.DataFrame = [Company: string, Person: string ... 1 more field]

In [5]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: integer (nullable = true)

In [6]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|  200|
|   GOOG|Charlie|  120|
|   GOOG|  Frank|  340|
|   MSFT|   Tina|  600|
|   MSFT|    Amy|  124|
|   MSFT|Vanessa|  243|
|     FB|   Carl|  870|
|     FB|  Sarah|  350|
+-------+-------+-----+

In [9]:
// spark will take any numerical column for aggregation
df.groupBy("Company").mean().show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [10]:
df.groupBy("Company").count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [11]:
df.groupBy("Company").max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   GOOG|       340|
|     FB|       870|
|   MSFT|       600|
+-------+----------+

In [12]:
df.groupBy("Company").min().show()

+-------+----------+
|Company|min(Sales)|
+-------+----------+
|   GOOG|       120|
|     FB|       350|
|   MSFT|       124|
+-------+----------+

In [13]:
df.groupBy("Company").sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   GOOG|       660|
|     FB|      1220|
|   MSFT|       967|
+-------+----------+

In [14]:
// other aggregate functions 

df.select(countDistinct("Sales")).show()

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                    8|
+---------------------+

In [15]:
df.select(sumDistinct("Sales")).show()

+-------------------+
|sum(DISTINCT Sales)|
+-------------------+
|               2847|
+-------------------+

In [16]:
df.select(variance("Sales")).show()

+-----------------+
|  var_samp(Sales)|
+-----------------+
|67235.55357142855|
+-----------------+

In [17]:
df.select(stddev("Sales")).show()

+------------------+
|stddev_samp(Sales)|
+------------------+
|259.29819430807567|
+------------------+

In [18]:
df.select(collect_set("Sales")).show()

+--------------------+
|  collect_set(Sales)|
+--------------------+
|[350, 340, 870, 1...|
+--------------------+

In [20]:
// ascending order 
df.orderBy("Sales").show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|  120|
|   MSFT|    Amy|  124|
|   GOOG|    Sam|  200|
|   MSFT|Vanessa|  243|
|   GOOG|  Frank|  340|
|     FB|  Sarah|  350|
|   MSFT|   Tina|  600|
|     FB|   Carl|  870|
+-------+-------+-----+

In [21]:
// descending order
df.orderBy($"Sales".desc).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|  870|
|   MSFT|   Tina|  600|
|     FB|  Sarah|  350|
|   GOOG|  Frank|  340|
|   MSFT|Vanessa|  243|
|   GOOG|    Sam|  200|
|   MSFT|    Amy|  124|
|   GOOG|Charlie|  120|
+-------+-------+-----+