In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder()
                        .appName("TestApp")
                        .config("spark.master", "local")
                        .getOrCreate()

import spark.implicits._

Intitializing Scala interpreter ...

Spark Web UI available at http://74e4be6e0134:4042
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1651462789932)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@4d8da544
import spark.implicits._

In [3]:
val df = spark.read.option("header","true").option("inferSchema","true").csv("ContainsNull.csv")

df: org.apache.spark.sql.DataFrame = [Id: string, Name: string ... 1 more field]

In [4]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [5]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [14]:
// drop any row with any number of na values 
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [15]:
// drop any rows that have less than minimum number of non-null column values 
// minimum number of non-null column values 2 for a row to stay on 
df.na.drop(2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [17]:
// match the datatye and fill the value 
df.na.fill(100).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|100.0|
|emp2| null|100.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df.na.fill("Missing Name").show()

+----+------------+-----+
|  Id|        Name|Sales|
+----+------------+-----+
|emp1|        John| null|
|emp2|Missing Name| null|
|emp3|Missing Name|345.0|
|emp4|       Cindy|456.0|
+----+------------+-----+

In [19]:
// specify the column that should be filled
df.na.fill("New Name", Array("Name")).show()

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| null|
|emp2|New Name| null|
|emp3|New Name|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [20]:
df.na.fill(200, Array("Sales")).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|200.0|
|emp2| null|200.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+